nav{
    position: fixed;
    background-color: black;
    color: aliceblue;
    width: 96.5%;
    padding: 1em;
    margin-top: -5em;
}
ul{
    list-style: none;
    text-align: right;
}
li{
    display: inline-block;
}
h1{
    position: fixed;
    font-size: 3em;
    margin-top: -.2em;
}
#first{
    margin-top: 5em;
}
button{
    all: unset;
}
button:focus{
    border: 1px solid #333;
    outline: auto;
}