nav{
    position: fixed;
    background-color: black;
    color: aliceblue;
    width: 96.5%;
    padding: 1em;
    margin-top: -5em;
}
ul{
    list-style: none;
    text-align: right;
}
li{
    display: inline-block;
}
h1{
    position: fixed;
}
#first{
    margin-top: 5em;
}
input [type=button]{
    all: unset;
}